<% include partials/header%>
<br><br>
<br><br>
<div class="container">
    <h3>Your profile has been verified.</h3>
    <h4>Happy Bidding!!</h4>
    <a href="/products" class="btn btn-lg btn-primary">Got to products</a>
</div>